<div>
  <select [(ngModel)]="routeToNavigateTo" style="padding: 4px;  margin: 4px; border: 1px solid gray; border-radius: 1em;">
    <option value="">Select Route to navigate to</option>
    <!-- OPTIONS --><option value="lib1">lib1</option>
<option value="lib2">lib2</option>
<option value="lib3">lib3</option>
<option value="lib4">lib4</option>
<option value="lib5">lib5</option>
<option value="lib6">lib6</option>
<option value="lib7">lib7</option>
<option value="lib8">lib8</option>
<option value="lib9">lib9</option>
<option value="lib10">lib10</option>
<option value="lib11">lib11</option>
<option value="lib12">lib12</option>
<option value="lib13">lib13</option>
<option value="lib14">lib14</option>
<option value="lib15">lib15</option>
<option value="lib16">lib16</option>
<option value="lib17">lib17</option>
<option value="lib18">lib18</option>
<option value="lib19">lib19</option>
<option value="lib20">lib20</option>
<option value="lib21">lib21</option>
<option value="lib22">lib22</option>
<option value="lib23">lib23</option>
<option value="lib24">lib24</option>
<option value="lib25">lib25</option>
<option value="lib26">lib26</option>
<option value="lib27">lib27</option>
<option value="lib28">lib28</option>
<option value="lib29">lib29</option>
<option value="lib30">lib30</option>
<option value="lib31">lib31</option>
<option value="lib32">lib32</option>
<option value="lib33">lib33</option>
<option value="lib34">lib34</option>
<option value="lib35">lib35</option>
<option value="lib36">lib36</option>
<option value="lib37">lib37</option>
<option value="lib38">lib38</option>
<option value="lib39">lib39</option>
<option value="lib40">lib40</option>
<option value="lib41">lib41</option>
<option value="lib42">lib42</option>
<option value="lib43">lib43</option>
<option value="lib44">lib44</option>
<option value="lib45">lib45</option>
<option value="lib46">lib46</option>
<option value="lib47">lib47</option>
<option value="lib48">lib48</option>
<option value="lib49">lib49</option>
<option value="lib50">lib50</option>
<option value="lib51">lib51</option>
<option value="lib52">lib52</option>
<option value="lib53">lib53</option>
<option value="lib54">lib54</option>
<option value="lib55">lib55</option>
<option value="lib56">lib56</option>
<option value="lib57">lib57</option>
<option value="lib58">lib58</option>
<option value="lib59">lib59</option>
<option value="lib60">lib60</option>
<option value="lib61">lib61</option>
<option value="lib62">lib62</option>
<option value="lib63">lib63</option>
<option value="lib64">lib64</option>
<option value="lib65">lib65</option>
<option value="lib66">lib66</option>
<option value="lib67">lib67</option>
<option value="lib68">lib68</option>
<option value="lib69">lib69</option>
<option value="lib70">lib70</option>
<option value="lib71">lib71</option>
<option value="lib72">lib72</option>
<option value="lib73">lib73</option>
<option value="lib74">lib74</option>
<option value="lib75">lib75</option>
<option value="lib76">lib76</option>
<option value="lib77">lib77</option>
<option value="lib78">lib78</option>
<option value="lib79">lib79</option>
<option value="lib80">lib80</option>
<option value="lib81">lib81</option>
<option value="lib82">lib82</option>
<option value="lib83">lib83</option>
<option value="lib84">lib84</option>
<option value="lib85">lib85</option>
<option value="lib86">lib86</option>
<option value="lib87">lib87</option>
<option value="lib88">lib88</option>
<option value="lib89">lib89</option>
<option value="lib90">lib90</option>
<option value="lib91">lib91</option>
<option value="lib92">lib92</option>
<option value="lib93">lib93</option>
<option value="lib94">lib94</option>
<option value="lib95">lib95</option>
<option value="lib96">lib96</option>
<option value="lib97">lib97</option>
<option value="lib98">lib98</option>
<option value="lib99">lib99</option>
<option value="lib100">lib100</option>

  </select>
  <button (click)="navigate()" style="padding: 8px; margin: 4px; border: 1px solid gray; border-radius: 1em;">Navigate</button>
</div>
<router-outlet></router-outlet>
<app-nx-welcome></app-nx-welcome>
